@model Project_3_v3.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AdminShop/Views/Shared/_LayoutAdmin.cshtml";
}
<div ng-controller="Products" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý/Quản lý bài nhạc/</span>Xoá bài nhạc</h4>
    <input id="id" hidden value="@Model.ProID" type="text" class="form-control" placeholder="Ma" aria-label="Username" aria-describedby="basic-addon1">
    <div class="card">
        <h5 class="card-header">Delete</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-danger">
                    <h6 class="alert-heading fw-bold mb-1">Bạn có chắc chắn muốn xoá bài nhạc này?</h6>
                    <p class="mb-0">Một khi đã xoá bài nhạc này,sẽ không có chuyện comeback đâu.Hãy thận trọng quyết định này</p>
                </div>
            </div>
            <form id="formAccountDeactivation" onsubmit="">
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           name="accountActivation"
                           id="accountActivation" />
                    <label class="form-check-label" for="accountActivation">Đồng ý với quyết định này</label>
                </div>
                <input ng-click="Delete()" value="Delete" class="btn btn-danger deactivate-account" /> |
                @Html.ActionLink("Back to List", "Index")
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module('Rogost', []);

    app.controller('Products', function ($scope, $http, $window) {
        $scope.product = {}
        $scope.Delete = Delete;
        function Delete() {
            var config = {
                params: {
                    id: $("#id").val(),
                }
            }
            $http.post("/AdminShop/Products/DeleteObj?id=" + $("#id").val(), null).then(function (result) {
                $window.location.href = '/AdminShop/Products';
            }, function (error) {
                console.log(config)
                alert("404 Error")
            });
        }

    });
</script>